/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilo del contenedor de la cabecera */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

/* Estilo del logo */
.logo img {
    width: 200px;
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #e9ecef;
    padding: 5px 40px;
    border-radius: 30px;
}

.search-bar input {
    border: none;
    outline: none;
    background: none;
    padding: 5px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #6c757d;
}

.user-cart i {
    font-size: 3em;
    color: #6c757d;
    margin-left: 15px;
    cursor: pointer;
}

/* Barra de navegación */
nav {
    background-color: #007bff;
    padding: 20px 0;
}


nav ul {
    list-style: none;          
    padding: 0;
    display: flex;             
    justify-content: center;   
    background-color: #007bff;    
}

nav ul li {
    margin: 0 15px;           
}

nav ul li a {
    text-decoration: none;     
    color: #fff;               
    font-size: 1rem;        
    font-weight: bold;      
    transition: color 0.3s;  
}

nav ul li a:hover {
    color: #f39c12;            
}


/* Banner de alerta */
.alert-banner {
    background-color: #fd7e14;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    font-size: 1.5em;
    font-weight: bold;
}

.alert-banner i {
    font-size: 2em;
    margin-right: 10px;
}

/* Sección de noticias */
.news {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f8f9fa;
}

.news-item {
    text-align: center;
    width: 22%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.news-item img {
    width: 100%;
    border-radius: 5px;
}

.news-item p {
    margin-top: 10px;
    font-size: 0.9em;
    color: #333;
}
/* Footer styles */
.footer {
    background-color: #000; 
    color: #fff;           
    text-align: center;   
    padding: 10px 0;       
}

.footer .social-icons {
    margin-bottom: 10px;
}

.footer .icon {
    margin: 0 10px;       
    color: #fff;          
    font-size: 1.5rem;     
    text-decoration: none; 
}

.footer .icon:hover {
    color: #f39c12; 
}

.footer .copyright {
    margin: 0;             
    font-size: 0.9rem;     
}

.community {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.card-comunidad {
    width: 90%; 
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header-comunidad {
    background-color: #3396d0;
    color: white;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.content-comunidad {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    gap: 20px;
}

@media (min-width: 768px) {
    .content-comunidad {
        flex-direction: row; 
    }
}

.image-comunidad {
    width: 100%;
    max-width: 500px; 
    height: auto;
    border-radius: 5px;
    object-fit: cover; 
}

.text-comunidad {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.text-comunidad h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
    text-align: center;
}

.text-comunidad p.date {
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}
/*-----------*/
.headLogcontainer {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Opcional, centra verticalmente si necesitas */
  }
  
  .logoLogin img {
    max-width: 100%;
    height: auto;

  }


